.body{
  width: 90%;
  margin: 5%;
  text-align: center;
}

.FullPageImage{
  width: 1200px;
  height: 800px;
  align-self: center;
  object-fit: contain;
}
.ElementImage{
  align-self: center;
  object-fit: contain;
}
.element-preview{
  width: 90%;
  margin: 5%;
  background: #82868b;
}
.blueHighlight{
  color: blue;
}
.environment{
  background: #5d99e2;
}
.pictures{
  display: flex;
  flex-direction: column;
  justify-content: center;

}
